@import "../../../../variables.scss";

.embla {
  max-width: 90vw;
  margin: auto;
  margin-bottom: 1rem;
  --slide-height: 10%;
  --slide-spacing: 1rem;
  --slide-size: 40%;
}

@media (max-width: $breakpoint-mobile) {
  .embla {
    --slide-size: 80%;
    --slide-height: 15%;
    --slide-spacing: 0.5rem;
  }

  .embla__controls {
    grid-template-columns: 1fr;
    gap: 0.6rem;
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: 767.98px) {
  .embla {
    --slide-size: 70%;
    --slide-height: 14%;
    --slide-spacing: 0.7rem;
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .embla {
    --slide-size: 60%;
    --slide-height: 12%;
    --slide-spacing: 0.8rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  .embla {
    --slide-size: 50%;
    --slide-height: 10%;
    --slide-spacing: 1rem;
  }
}

@media (min-width: $breakpoint-xl-desktop) {
  .embla {
    --slide-size: 40%;
    --slide-height: 10%;
    --slide-spacing: 1rem;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
