.heading {
  max-width: 90vw;
  margin: auto;
  padding: 5px 0;
}
.blueHeading {
  color: #021f35;
}
.headingContainer {
  background-color: white;
  margin-bottom: 2vh;
}

.whiteHeading {
  color: white;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  margin: auto;
}

.filterSortIconWrapper {
  display: flex;
}

.iconButton {
  margin: 20px;
}
